body {
  background-color: #003300;
}

#canvas {
  display: block;
  margin: 5px auto;
  border: 10px solid #003300;
   
}
canvas {
	border-radius: 20px;
}
 h1 {
	 font-family: Helvetica;
	 margin-left: -10px;
	 margin-top: 20px;
	 padding-bottom: -20px;
	 text-align: center;
	 font-weight: bolder;
	 text-shadow: 2px 2px 15px yellow, 0px 4px 4px lightgreen;
 }
 
 button {
	 margin-top: -10px;
	 width: 110px;
	 height: 40px;
	 margin-right: 5px;
	 margin-left: 5px;
	 border-radius: 6px;
	 font-weight: bold;
 }
 button:hover {
	 background-color: #fff;
	 font-size: 16px;
 }
 
 #btnAllign {
	 margin: 0px auto;
	 width: 360px;
	 
	 
 }